<!doctype html>
  <head>
  </head>
  <body ng-app ng-init="contacts = ['89041111111', '89042222222', '89043333333']">

    <ul>
        <li ng-repeat="contact in contacts"> {{ contact }}
            <a href="#" ng-click="contacts.splice($index, 1);">x</a>
        </li>
    </ul>

    <input type="text" id="contact" ng-model="contact">
    <button ng-click="contacts.push(contact); contact = '';">Add</button>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/js1.js"></script>
    <!-- endbuild -->
</body>
</html>
